.ball__line--sec {
  position: absolute;
  right: 28px;
  bottom: 15px;
  width: 100px;
  height: 2px;
  background-color: #bf8a51;
}

.animate__sec {
  position: absolute;
  bottom: -4px;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #bf8a51;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.ball__line--min {
  position: absolute;
  right: 235px;
  bottom: 15px;
  width: 100px;
  height: 2px;
  background-color: #bf8a51;
}

.animate__min {
  position: absolute;
  bottom: -4px;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #bf8a51;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.ball__line--hour {
  position: absolute;
  right: 440px;
  bottom: 15px;
  width: 100px;
  height: 2px;
  background-color: #bf8a51;
}

.animate__hour {
  position: absolute;
  bottom: -4px;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #bf8a51;
  animation-duration: 3600s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.animate__on {
  animation-name: ball;
}

@keyframes ball {
  from {
    left: 100px;
  }

  to {
    left: -100px;
  }
}
