* {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}

.container {
  width: 960px;
  border: 5px solid #bf8a51;
  margin-top: 50px;
  background: radial-gradient(#88a8b4 25%, #366678 65%);
  box-shadow: 0 0 20px grey;
}

.title {
  margin-top: 50px;
  width: 90%;
  color: #bf8a51;
  font-size: 3em;
  letter-spacing: 0.15em;
  text-shadow: 2px 2px 10px black;
}

.display__wrapper {
  margin-top: 30px;
  margin-bottom: 70px;
  height: 100px;
  width: 60%;
  background-color: #366678;
  border-radius: 5px;
  border: 2px solid #bf8a51;
  border: flex;
  position: relative;
}

.display__time {
  display: flex;
  align-content: center;
  align-items: center;
  height: 100px;
  margin-right: -18px;
  font-size: 2.8em;
  letter-spacing: 0.8em;
  font-weight: bold;
  color: #bf8a51;
}

.button__outer {
  height: 100px;
}

.button__inner {
  display: inline-block;
  width: 80%;
}

.button__sizing {
  width: 15%;
  height: 50px;
  background-color: #bf8a51;
  color: #1c4d5f;
  border-radius: 10px;
  border: none;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1.4em;
  letter-spacing: 0.05em;
}

#button__start {
  background-color: #92c060;
}

#button__pause {
  background-color: #d46f6a;
}

#button__reset {
  background-color: #bf8a51;
}

.button__sizing:hover {
  box-shadow: 0 0 15px #282828;
  cursor: pointer;
}

.button__limit {
  position: relative;
  display: inline-block;
  width: 40%;
}

#limit__set--hour {
  border-radius: 10px 0 0 10px;
}

.button__limit--input {
  width: 24%;
  height: 50px;
  background-color: #bf8a51;
  color: #366678;
  margin-right: -3px;
  border: none;
  font-size: 1.4em;
  padding-left: 5px;
}

.button__limit--button {
  width: 20%;
  height: 50px;
  background-color: #bf8a51;
  color: #1c4d5f;
  border-radius: 0 10px 10px 0;
  font-size: 1.4em;
  border: none;
}

.button__limit--button:hover {
  box-shadow: 0 0 15px #282828;
  cursor: pointer;
}

.set__timer {
  position: absolute;
  top: -30px;
  text-shadow: 1px 1px 4px black;
  color: #bf8a51;
  font-size: 1.5em;
  letter-spacing: 0.2em;
}
